/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

*.DS_Store
/storage/debugbar/
/public/js/filament/filament/app.js
/public/js/filament/filament/echo.js
/public/js/filament/forms/components/color-picker.js
/public/js/filament/forms/components/date-time-picker.js
/public/js/filament/forms/components/file-upload.js
/public/js/filament/forms/components/key-value.js
/public/js/filament/forms/components/markdown-editor.js
/public/js/filament/forms/components/rich-editor.js
/public/js/filament/forms/components/select.js
/public/js/filament/forms/components/tags-input.js
/public/js/filament/forms/components/textarea.js
/public/js/filament/notifications/notifications.js
/public/js/filament/support/async-alpine.js
/public/js/filament/support/support.js
/public/js/filament/tables/components/table.js
/public/js/filament/widgets/components/stats-overview/stat/chart.js
/public/js/filament/widgets/components/chart.js
/public/css/filament/filament/app.css
/public/css/filament/forms/forms.css
/public/css/filament/support/support.css
/.scribe/endpoints/00.yaml
/.scribe/endpoints/custom.0.yaml
/.scribe/endpoints.cache/00.yaml
/.scribe/.filehashes
/.scribe/auth.md
/.scribe/intro.md
/public/vendor/scribe/css/theme-default.print.css
/public/vendor/scribe/css/theme-default.style.css
/public/vendor/scribe/images/navbar.png
/public/vendor/scribe/js/theme-default-4.29.0.js
/public/vendor/scribe/js/tryitout-4.29.0.js
/resources/views/scribe/index.blade.php
